<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
        cardTitle="Angular New Version!"
        cardDescription="Angular released new 16.0.1 version."
        cardLink="https://github.com/angular/angular/blob/main/CHANGELOG.md">
        </app-big-card>
    </div>

    <div class="articles__others">
        <app-small-card
        photoCover="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg"
        cardTitle="React released new 18.2.0 version."
        cardLink="https://github.com/facebook/react/blob/main/CHANGELOG.md#1820-june-14-2022">
        </app-small-card>

        <app-small-card
        photoCover="https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg"
        cardTitle="Vue released new 3.3.2 version."
        cardLink="https://github.com/vuejs/core/blob/main/CHANGELOG.md">
        </app-small-card>
        
        <app-small-card
        photoCover="https://cdn.worldvectorlogo.com/logos/aurelia-1.svg"
        cardTitle="Aurelia released new 1.4.1 version."
        cardLink="https://github.com/aurelia/framework/releases">
        </app-small-card>
    </div>
</div>